
@{
    ViewData["Title"] = "Index";
}

<h1>User View Listing</h1>
<p>

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                <h4>Property Type</h4>
            </th>
            <th>
               <h4>Address </h4>
            </th>
            <th>
                <h4>City Name</h4>
            </th>
            <th>
                <h4>Price</h4>
                
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td>
                <h4>Detach House</h4>
            </td>
            <td>
                <h4>12 Oak street</h4>

            </td>
            <td>
                <h4>Brampton</h4>

            </td>
            <td>
                <h4>$100,000</h4>

            </td>

            <td>

                <button class="btn btn-primary">Details</button>
                <button class="btn btn-primary">Add to Fav't</button>

            </td>
        </tr>

        <tr>

            <td>
                <h4>Condo House</h4>
            </td>
            <td>
                <h4>11 OatOak street</h4>

            </td>
            <td>
                <h4>Hamilton</h4>

            </td>
            <td>
                <h4>$120,000</h4>

            </td>

            <td>

                <button class="btn btn-primary">Details</button>
                <button class="btn btn-primary">Add to Fav't</button>

            </td>
        </tr>
        <tr>

            <td>
                <h4>Semi House</h4>
            </td>
            <td>
                <h4>Noora street</h4>

            </td>
            <td>
                <h4>Brampton</h4>

            </td>
            <td>
                <h4>$200,000</h4>

            </td>

            <td>

                <button class="btn btn-primary">Details</button>
                <button class="btn btn-primary">Add to Fav't</button>

            </td>
        </tr>
        <tr>

            <td>
                <h4>Detach House</h4>
            </td>
            <td>
                <h4>12 Oak street</h4>

            </td>
            <td>
                <h4>Brampton</h4>

            </td>
            <td>
                <h4>$100,000</h4>

            </td>

            <td>

                <button class="btn btn-primary">Details</button>
                <button class="btn btn-primary">Add to Fav't</button>

            </td>
        </tr>
    </tbody>
</table>


